In [1]:
# Import necessary libraries

import numpy as np

import pandas as pd

import matplotlib.pyplot as plt

 

#Read the data

df = pd.read_csv('Reviews.csv', nrows=100)

 

# Look at the top 5 rows of the data

df.head(3)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...

In [3]:

import pandas as pd
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from textblob import TextBlob
import re

# Define the lemmatizer
lemmatizer = WordNetLemmatizer()

# Sample DataFrame (use your actual df here)

# Lowercasing and removing punctuations
df['Text'] = df['Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df['Text'] = df['Text'].str.replace(r'[^\w\s]', ' ', regex=True)


# Removal of stopwords
stop = stopwords.words('english')
df['Text'] = df['Text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

# Spelling correction (be aware this can be slow for large datasets)
df['Text'] = df['Text'].apply(lambda x: str(TextBlob(x).correct()))

# Lemmatization
df['Text'] = df['Text'].apply(lambda x: " ".join([lemmatizer.lemmatize(word) for word in x.split()]))

# Print the result
print(df['Text'].head())

0    bought several vitality canned dog food produc...
1    product arrived labelled lumbo halted peanut p...
2    connection around century light pillow city ge...
3    looking secret ingredient robitussin believe f...
4    great staff great price wide assortment mummy ...
Name: Text, dtype: object

In [4]:
!pip install textblob

Requirement already satisfied: textblob in c:\users\likhi\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\likhi\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\likhi\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\likhi\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\likhi\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\likhi\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.66.5)
Requirement already satisfied: colorama in c:\users\likhi\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)

In [ ]:
# Create a new data frame “reviews” to perform exploratory data analysis upon that

reviews = df

 

# Dropping null values

reviews.dropna(inplace=True) 

 

# The histogram reveals this dataset is highly unbalanced towards high rating. 

reviews.Score.hist(bins=5,grid=False)

plt.show()

print(reviews.groupby('Score').count().Id)

In [ ]:
# To make it balanced data, we sampled each score by the lowest n-count from above. (i.e. 29743 reviews scored as '2')

score_1 = reviews[reviews['Score'] == 1].sample(n=47)

score_2 = reviews[reviews['Score'] == 2].sample(n=47)

score_3 = reviews[reviews['Score'] == 3].sample(n=47)

score_4 = reviews[reviews['Score'] == 4].sample(n=47)

score_5 = reviews[reviews['Score'] == 5].sample(n=47)

In [ ]:
# Here we recreate a 'balanced' dataset.

reviews_sample = pd.concat([score_1,score_2,score_3,score_4,score_5],axis=0)

reviews_sample.reset_index(drop=True,inplace=True)

 

# Printing count by 'Score' to check dataset is now balanced.

print(reviews_sample.groupby('Score').count().Id)